body {
  background-color: white;
}

/* Set the height of the logo */
.navbar-brand img {
  height: 100px;
  width: auto; /* Ensure the aspect ratio is maintained */
}

/* White background for the menu */
.navbar {
  background-color: white;
}

.intro-text { 
  font-size: 16px;
  font-family: Playfair, serif; /* Added serif fallback */
  font-style: italic;
  line-height: 1.2; 
}

.purchase-block {
  background-color: #ff7e5e;
  padding: 20px;
  border-radius: 5px;
}

/* Navigation links */
.navbar-nav .nav-link {
  color: black;
  position: relative;
  padding: 10px;
  text-decoration: none; /* Remove default underline */
}

/* Underline effect on hover */
.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Initially hide the underline */
  height: 2px;
  background-color: red; /* Underline color */
  transition: width 0.3s ease; /* Smooth transition */
}

/* Show underline on hover */
.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 700;
  font-family: Playfair, serif; /* Added serif fallback */
  font-style: italic;
  line-height: 1.2;
}


/* MEDIA QUERIES */

        /* Hide the Instagram embed for larger screens */
        @media (min-width: 768px) {
          .instagram-embed {
              display: none;
          }
      }